<div class="imageDiv">
    <img id="newsImage" src="https://cdn.pixabay.com/photo/2014/05/21/22/28/old-newspaper-350376_1280.jpg">
    <figcaption id="imageText">Google News <br> <span class="imageSpan">edition</span></figcaption>
</div>
