<head>
    <link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">
</head>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img id="navImage" src="https://github.com/graysonm23/Webscraper/blob/master/public/images/Logo.png?raw=true"
            alt="logo image">
    </a>
</nav>
